* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: rgb(193, 62, 62);
  background: linear-gradient(
    139deg,
    rgb(193, 62, 62, 1) 0%,
    rgb(230, 179, 50, 1) 100%
  );
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

#todos {
  padding: 20px;
  margin: 0 auto;
  width: 600px;
  height: auto;
}
#todos > .headings {
  margin-bottom: 25px;
  text-align: center;
}

#todos > .headings > h1 {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 2.5rem;
}

#todos > .headings > h1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  width: 10%;
  height: 2px;
  background-color: black;
  transition: 0.5s;
}
#todos > .headings > h1:hover::before {
  width: 80%;
}

#todos > .todo_input_container {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
#todos > .todo_input_container > .todo_input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 10px;
  font-size: 1.2 rem;
  outline: none;
  border: none;
  /* border-radius: 20px; */
}

#todos > .todo_input_container >.deleteBtn{
  position:absolute;
  /* right:0; */
  top:50%;
  transform: translateY(-50%);
  width: 40px;
  height:40px;
  line-height: 40px;
  cursor: pointer;
  right: 40px;
  background-color:rgb(233,153,61);
}
#todos > .todo_input_container >.add-item {
    position:absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    width: 40px;
    height:40px;
    background-color:rgb(236,44,44);
    line-height: 40px;
    cursor: pointer;
   


}
